$composer-height: 50px;

html,
body,
#app,
#app > .container-fluid,
#app > .container-fluid > .row {
  height: 100%;
}

.app-peers {
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #aaa;

  > ul {
    list-style: none;
    padding: 0;
  }
}

.app-conversation {
  height: 100%;
}

.peer {
  height: 60px;
  border-bottom: 1px solid #ccc;
}

.peer-selected {
  background: #eee;
}

.peer-menu {
  float: right;
}

.peer-menubutton {
  border: none;
  background: none;
  color: #ccc;
  &::after {
    display: none;
  }
}

.conversation {
  height: 100%;
  position: relative;
}

.conversation-messages {
  position: absolute;
  top: 0;
  bottom: $composer-height;
  left: 0;
  right: 0;
}

.conversation-compose {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $composer-height;
}

.conversation-messages {
  overflow-y: auto;
}

.compose {
  border-top: 1px solid #ccc;
}

.compose-text {
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  right: 70px;
  bottom: 0;

  input {
    border: none;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}

.compose-submit {
  position: absolute;
  top: 8px;
  right: 0;
  &:focus {
    outline: none;
  }
}

.messageList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message {
  clear: both;
  float: left;
  padding: 5px 10px;
  border-radius: 20px;
}

.message-me {
  float: right;
  background: forestgreen;
  color: white;
}
