$composer-height: 50px;

html,
body,
#app,
#app > .container-fluid,
#app > .container-fluid > .row {
  height: 100%;
}

.app-peers {
  height: 100%;
  overflow-y: auto;

  > ul {
    list-style: none;
    padding: 0;
  }
}

.app-conversation {
  height: 100%;
}

.peer {
  height: 60px;
}

.peer-selected {
  background: #eee;
}

.conversation {
  height: 100%;
  position: relative;
}

.conversation-messages {
  position: absolute;
  top: 0;
  bottom: $composer-height;
  left: 0;
  right: 0;
}

.conversation-compose {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $composer-height;
}

.conversation-messages {
  overflow-y: auto;
}
